apiVersion: plumber.k8s.pf9.io/v1
kind: HostNetworkTemplate
metadata:
  name: hostconfig-kernel-eno2
spec:
  # Add fields here
  nodeSelector:
    feature.node.kubernetes.io/network-sriov.capable: "true"
  sriovConfig:
    - pfName: eno2
      numVfs: 4
      vfDriver: i40evf
      mtu: 1500
  interfaceConfig:
    - name: eno2
      vlan:
        - id: 1000
        - id: 1001
  ovsConfig:
  - bridgeName: ovs-br01
    nodeInterface: eno2.1000
