
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: hostnetworktemplates.plumber.k8s.pf9.io
spec:
  group: plumber.k8s.pf9.io
  names:
    kind: HostNetworkTemplate
    listKind: HostNetworkTemplateList
    plural: hostnetworktemplates
    singular: hostnetworktemplate
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: HostNetworkTemplate is the Schema for the HostNetworkTemplates
        API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: HostNetworkTemplateSpec defines the desired state of HostNetworkTemplate
          properties:
            sriovConfig:
              items:
                properties:
                  deviceId:
                    type: string
                  mtu:
                    type: integer
                  numVfs:
                    type: integer
                  pciAddr:
                    type: string
                  pfDriver:
                    type: string
                  pfName:
                    type: string
                  vendorId:
                    type: string
                  vfDriver:
                    type: string
                type: object
              type: array
          type: object
        status:
          description: HostNetworkTemplateStatus defines the observed state of HostNetworkTemplate
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
