    #cloud-config
    runcmd:
    - "sudo su"
    - "mkdir /mnt/kubeconfig"
    - "mount /dev/sda /mnt/kubeconfig"
    - "mkdir /etc/dnsmasq.d/"
    - "mount /dev/sdb /etc/dnsmasq.d/"
    - "export KUBECONFIG=/mnt/kubeconfig/default.yaml"
    - "iptables -A POSTROUTING -t mangle -p udp --dport bootpc -j CHECKSUM --checksum-fill"
    - "./home/fedora/manager"